{% set multi_course_hub = theme_var('multi_course_hub.enabled') %}
{% set arrayofpath = uri.path|split('/') %}
{% set firstfolderofpath = arrayofpath[1] %}

{# MultiCourse hub compatibility - hibbittsdesign.org #}
{% if multi_course_hub or grav['pages'].find('/' ~ firstfolderofpath).template == 'course' %}
  {% set src = firstfolderofpath ~ '/' ~ src %}
{% endif %}

<p>
<div class="embed-responsive embed-responsive-4by3">
<iframe src="{{ presentation_base_url }}/{{ src }}" frameborder="0" allowfullscreen class="{{ class }}"></iframe>
</div>
</p>
