{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 blog-main">
            {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
              <h1>{{page.title}}</h1>
            {% else %}
              <h1 class="hidden">{{page.title}}</h1>
            {% endif %}
            {{ page.content }}
            {# Creative Commons License -  hibbittsdesign.org #}
            {% if theme_var('cc_license.enabled') and not(page.header.hide_cc_license) %}
              <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
            {% endif %}
            {# Git repository edit link - hibbittsdesign.org #}
            {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( theme_var('display_of_git_sync_repo_link') == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
              <br>
              <hr>
              <br>
              {% include 'partials/git_sync_repo_link_note.html.twig' %}
              <br>
            {% endif %}
          </div>
          {# removed sidebar rendering - hibbittsdesign.org #}
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}

<script>

$(document).ready(function(){

});

</script>
