{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="main-content">
      <div class="container">
        <div class="row">
          {# check content display flag - hibbittsdesign.org #}
          {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) %}
            <div class="col-md-8 blog-main">
          {% else %}
            <div class="col-md-12 blog-main">
          {% endif %}
            {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
              <h1>{{page.title}}</h1>
            {% else %}
              <h1 class="hidden">{{page.title}}</h1>
            {% endif %}
              {{ page.content }}
              {# Creative Commons License -  hibbittsdesign.org #}
              {% if theme_var('cc_license.enabled') and not(page.header.hide_cc_license) %}
                <br>
                {% include 'partials/creative_commons_license.html.twig' %}
                <br>
              {% endif %}
              {# Git repository edit link -  hibbittsdesign.org #}
              {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( theme_var('display_of_git_sync_repo_link') == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
                  <br>
                  {% include 'partials/git_sync_repo_link_note.html.twig' %}
                  <br>
              {% endif %}
            </div>
            {# check content display flag - hibbittsdesign.org #}
            {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) %}
              <div class="col-md-4 blog-sidebar">
                {% include 'partials/sidebar.html.twig' with {'blog':page} %}
              </div>
            {% endif %}
          </div>
      </div>
    </div>
    {% endblock %}

  {% endembed %}
